/*
 * SPDX-FileCopyrightText: 2024 André Jaenisch
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
*/

svg {
  display: block;
  height: auto;
  width: 100%;
  background-color: var(--c);
  cursor: default;
}

label[for="prompt"] {
  display: block;
  margin-block-start: 1em;
}
